*,
*::before,
*::after {
    box-sizing: border-box;
}
button{
    font-family: inherit;
    font-size: inherit;
}
body{
    background-color: #fff;
            font-family: 'Roboto';
            color: #434455;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding-left: 0;
}
.third-section{
    display: none;
}
.container {
    max-width: 426px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
}
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color:#fff;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    display: flex;
    flex-flow:column;
    padding: 80px 30px 35px 40px;
    margin: 0;
}
.menu-container.is-open {
    transform: translateX(0);
}
.style-menu {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
}
.menu-container .menu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.menu-container .menu-toggle:hover,
.menu-container .menu-toggle:focus {
    background-color: #404bbf;
}
/* =========================Header======================= */
.header{
    border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-nav{
    display: flex;
}
.header .link-header{
    color: #404BBF;
}
.header-a{
    color: #4D5AE5;
    display: block;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 800;
        line-height: 21px;
        letter-spacing:0.017em;
        text-transform: uppercase;
        margin: 0 auto 0 0;
        padding: 24px 0;
}
.link-header{
    position: relative;
    color: #404bbf;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-header::after{
    position: absolute;
    content:"";
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
}
.header-a span{
 color:#2E2F42;
}
.header-button{
min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
}
.header-icon{
    gap: 30px;
    justify-content: start;
}
.header-menu-ul{
    display: flex;
flex-direction: column;
gap: 40px;
align-items: flex-start;
margin: 0;
padding-left: 0;
}
.header-menu-ul-addres {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    margin-bottom: auto;
    margin-top: 0;
    padding-left: 0;
}
.header-menu-nav{
    margin-bottom: auto;
}
.header-menu-a{
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.022em;
        color: #2E2F42;
        text-transform: capitalize;
}
.header-menu-a:hover,.header-menu-a:focus{
   color:#404BBF;
}
.header-addres-tel{
        font-size: 25px;
        font-weight: 700;
        line-height: 40px;
        font-style: normal;
        letter-spacing: 0.045rem;
        text-transform: capitalize;
        color: #4D5AE5;
}
.header-addres-gmail{
    color: #434455;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.013em;
}
.header-menu-social-ul{
margin-top: 48px;
    display: flex;
gap: 30px;
margin-bottom: 0;
padding-left: 0;
}
.header-menu-link{
display: flex;
    justify-content: center;
    align-items: center;
    background-color:#4D5AE5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
}
.header-menu-link:hover.header-menu-link:focus {
    background-color: #31D0AA;
}
.header-menu-icon{
    fill:#F4F4FD;
}
.section{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url();
    padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
        max-width: 428px;
    }
.fisrt-section-title{
    color:  #FFF;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        margin:0 0 72px 0;
}
.section-button{
display: block;
    margin: 0 auto;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color:#fff;
    background-color:#4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04rem;
}
.second-section{
    padding: 96px 0;
}
.second-section-icon{
    display: none;
}
.second-section-title{
    color: #2E2F42;
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.045rem;
text-transform: capitalize;
margin: 0 0 8px 0;
}
.second-section-paragraf{
    color: #434455;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02rem;
margin: 0;
}
.second-section-list{
    display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 72px;
padding-left: 0;
margin: 0;
}
.four-section-title{
    color:#2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin: 0 0 72px 0;
}
.four-section{
    background:#F4F4FD;
    padding: 96px 0;
}
.four-section-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;
    margin: 0 auto;
    padding: 0;
}
.four-section-list-li{
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    margin: 0 ;
}
.four-section-div{
    padding: 32px 0;
    text-align: center;
}
.menu-social{
    display: flex;
    gap: 24px;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.four-section-name{
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.025rem;
    margin: 0;
}
.four-section-job{
    color:#434455;
text-align: center;
line-height: 24px;
letter-spacing: 0.02rem;
margin: 8px 0;
}
.section-five{
    padding: 96px 0;
}
.section-five-title{
    color:#2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.045rem;
text-transform: capitalize;
margin: 0 0 72px 0;
}
.section-five-list{
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 16px;
        justify-content: center;
}
.section-five-a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8e8f99;
    background-color: #fff;
    width: 190px;
    height: 88px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0;
    padding: 0;
}
.section-five-fill{
    fill: currentColor;
}
.footerback{
    padding: 96px 0;
    background-color:#2E2F42;
}
.footer-a{
    display: block;
    font-family:Raleway;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    padding: 0;
    width: 117px;
    margin: 0 auto 16px auto;
}
.footer-span{
    color: #FFF;
}
.footer-paragraf{
    color: #F4F4FD;
line-height: 24px;
letter-spacing: 0.02rem;
margin: 0 auto;
text-align: start;
width: 268px;
    font-weight: 400;
    margin-bottom: 72px;
}
.footer-end{
    margin-bottom: 72px;
}
.footer-social-text{
    color:#F4F4FD;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
    margin: 0 auto;
    font-weight: 500;
    text-align: center;
    margin: 0 0 16px 0;
}
.menu-social-footer{
    display: flex;
    gap: 16px;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.label-email{
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #fff;
    opacity: 0.3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white-color);
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding-left: 16px;
    margin-bottom: 16px;
}
input::placeholder{
    color: #fff;
}
.subm-butt{
    display: flex;
    min-width: 165px;
    height: 40px;
    font-weight: 500;
    background-color: #4D5AE5;
    color: #fff;
    line-height: 1.5;
    letter-spacing: 0.04rem;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    border-radius: 4px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-svg{
    margin-left: 16px;
    fill:#fff;
}
.header-pos{
    color:#2E2F42;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02rem;
display: block;
padding: 24px 0;
}
.header-pos:focus,.header-pos:hover{
    color: #404BBF;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 72px 24px 24px 24px;
}
.modal-button{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
background-color: #e7e9fc;
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-button:hover{
    background-color: #404bbf;
    border: none;
    fill: #ffffff
}
.modal-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}
.modal-svg{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-div{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.button-portfolio{
    margin: auto;
min-width:  169px ;
display: block;
    padding: 16px 32px;
border: none;
    border-radius: 4px;
        background:  #4D5AE5;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color:  #FFF;
        text-align: center;
        font-weight: 500;
        line-height: 24px;
        letter-spacing:0.020em;
        cursor:pointer;

}
.button-portfolio:hover , .button-portfolio:focus{
    background-color: var(--hover);
}

.paragraf-modal{
    color: #2E2F42;
margin:0 0 16px 0;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.010em;
}
.form-div{
    margin-bottom: 8px;
}
.footer-lab{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:#8e8f99;
    display: block;
    margin-bottom: 4px;
}
.input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
padding-left: 38px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input:focus{
    border-color: #4D5AE5;
}
.svg-footer{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.textarea{
    width: 100%;
    resize: none;
    outline: transparent;
    padding: 8px 16px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    color: rgba(46, 47, 66, 0.4);
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
line-height: 1.17;
font-size: 12px;
height: 120px;
}
.textarea:focus{
    border-color: #4D5AE5;
}
.div-modal-icon{
   position: relative;
}
.div-modal-comment{
    margin-bottom: 16px;
}
input:focus + .svg-footer{
fill: #4D5AE5;
}
.cheakbox-div{
    margin-bottom: 24px;
    align-items: start;
}
.text-privacy{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:#8e8f99;
    align-items: start;

}
.span{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;

}
input:checked  + .text-privacy > .span{
    background-color: #404bbf;
    border: none;
    fill:#F4F4FD;
}
.modal-a{
    color:#4d5ae5;
text-decoration: underline;
}
.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events:none;
}
.section-button:hover , .section-button:focus{
background-color:#404BBF;
}
.header-menu-link:hover , .header-menu-link:focus{
    background-color: #31D0AA;
}
.button-portfolio:hover , .button-portfolio:focus{
    background-color:#404BBF;  
}
.section-five-a:hover, .section-five-a:focus{
border-color: #404BBF;
color: #404BBF;
}
.subm-butt:hover , .subm-butt:focus{
background-color: #404BBF;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;
    }
    .section{
        padding: 112px 0;
    }
    .header .container{
        display: flex;
    }
    .header-addres{
        display: flex; 
    }
    .header-nav{
        display: flex;
    align-items: center;
    margin: 0 auto 0 0;
    }
    .header-a{
        font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02rem;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 76px 0 0;
    }
    .menu{
        display: flex;
        gap: 40px;
        margin: 0;
        padding: 0;
    }
    .adress-list{
        display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin: 0;
    padding: 0;
    }
  .section-five-list{
    column-gap: 24px;
  }
    .adress{
        font-size: 12px;
    line-height: 0.875rem;
    letter-spacing: 0.03rem;
    color:#434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    .section{
            max-width: 768px;
    }
    
    .fisrt-section-title{
        max-width: 496px;
    font-size: 56px;
    height: 120px;
    letter-spacing: 0.07rem;
    line-height: 3.75rem;
    margin: 0 auto 72px ;
    }
    .second-section-li{
    flex-basis: calc((100% - 24px) / 2);
    }
    .second-section-title{
        text-align: start;
    }
    .second-section-list{
        flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    }
    .four-section-list{
        flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    }
    .footer-end{
        display:flex;
    }
    .footer-a{
        display: inline-block;
        margin-bottom: 16px;
    }
    .footer-wtf{
        margin-right: 24px;
    }
    .fixed-footer{
        max-width: 582px;
    }
    .footer-social-text{
        text-align: start;
    }
    .formteg{
        display: flex;
    justify-content: start;
    }
    .label-email{
        width: 268px;
        margin: 0;
    }
    .subm-butt{
        margin: 0 0 0 24px;
    }
    .section-five-a{
        max-width: 168px;
    }
}
/* ================================Планшет=========================================== */
/* ================================Планшет=========================================== */
/* ================================Планшет=========================================== */
/* ================================Планшет=========================================== */
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }
    .section{
        max-width: 1440px;
        padding: 188px 0;
    }
    .second-section{
        padding: 120px 0;
    }
.second-section-list{
    align-items: flex-start;
    padding: 0;
    gap: 24px;
    margin: 0;
}
    .second-section-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F4F4FD;
        border-radius: 4px;
        height: 112px;
        margin-bottom: 8px;
    }
    .second-section-li{
        width: 264px;
        height: 224px;
        flex-basis: calc((100% - 3 * 24px) / 4);
    }
    .second-section-title{
font-size: 20px;
font-weight: 500;
line-height: 24px;
    }
    .second-section-paragraf{
font-weight: 400;
    }
.adress-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 0;
    padding: 0;
}
.adress{
    color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02rem;
font-style: normal;
}
.footer-wtf{
    margin: 0 120px 0 0;
}
.fixed-footer{
    display: flex;
    align-items: baseline;
}
.social-media{
    margin: 0 80px 0 0;
}
.footer-end{
    margin: 0;
}
.third-section{
    padding-bottom: 120px;
    display: flex;
}
.third-section-title{
text-align: center;
    font-family:var(--roboto);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.045em;
    text-transform: capitalize;
    margin-bottom:72px;
    margin-top: 0;
}
.third-section-list{
    display: flex;
    gap: 24px;
    padding: 0;
        margin: 0;
}
.third-section-li{
    margin-right: 0;
    align-self: flex-start;
}
}
/* ================================ПЕРЕЛОМ=========================================== */
/* ================================ПЕРЕЛОМ=========================================== */
/* ================================ПЕРЕЛОМ=========================================== */
/* ================================ПЕРЕЛОМ=========================================== */

@media (max-width: 767px) {
    .menu {
        display: none;
    }
}
@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}
@media (min-resolution: 192dpi) {
    .service {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/people-office-2x.jpg);
    }
}
